In [1]:
# Importing Libraries
import pandas as pd
import numpy as np

In [2]:
# Question 1
# Import the dataset from this(https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
print(url,sep =("|"))

https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

In [3]:
# Question 2
# Import the dataet form url
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
user = pd.read_csv(url,sep = '|', index_col = 0)
user

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [4]:
# Question 3
# See the first 10 and last 10 entries

print('First 10 Entries')
First_10 = user.head(10)
print(First_10)
print('\n')


print('Last 10 Entries')
Last_10 = user.tail(10)
print(Last_10)

First 10 Entries
         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703


Last 10 Entries
         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [5]:
# Question 4
# What is the number of observations in the dataset?

Number_of_observation = len(user.index)
print(f'Number_of_observation = {Number_of_observation}')

Number_of_observation = 943

In [6]:
# Question 5
# What is the number of columns in the dataset?

Number_of_columns = len(user.columns)
print(f'Number_of_columns = {Number_of_columns}')

Number_of_columns = 4

In [7]:
# Question 6
# Print name all of the columns

user_column_name = user.columns
print(user_column_name)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [8]:
# Question 7
# How is the dataset indexed?

print(user.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB
None

In [9]:
# Question 8
# What is the datatype of each column

print(user.dtypes)

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [10]:
# Question 9
# print only the occupation column

print(user.occupation)

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [11]:
# Question-10
# How many different occupations are in this dataset?

print(user.occupation.nunique())

21

In [12]:
# Question-11
# What is the most frequent occupation?

user.occupation.mode()

0    student
Name: occupation, dtype: object

In [13]:
#Question-12
# DataFrame Info

user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

In [14]:
#Question-13
# Describe all the columns

user.describe(include = 'all')

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

In [15]:
# Question-14
# Summarize only the occupation column
user.occupation.value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [16]:
# Question-15
# What is the mean age of the users ?
user.age.mean()

34.05196182396607

In [17]:
# Question-16
# What is the age with the least occurence ?
user.age.min()

7